body{
  background-color: #222831;
  margin: 0
}

h1{
 color: #393e46;
 margin-top: 0;

}

div{
  background-color: #ffd369;
  margin: 0;
}

.top-container{width: 100%;
               height:100%;  }
